@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#5f5f5f;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .page {
	padding:0;
	margin:0;
	background:#e6ede6;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0 0 0 40px;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:16px 0;
	color:#fff;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	color:#65cde7;
}
h1 small {
	display:block;
	padding:0;
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:bold 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#5f5f5f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	text-align:right;
}
a {
	color:#56acc2;
	text-decoration:underline;
}
a.rm, a.com {
	margin-left:8px;
	padding:9px 12px;
	background:url(../images/a_bg.gif) repeat-x top;
	text-decoration:none;
	color:#fff;
}
.site-header, .content, .main-navigation, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.fbg_resize {
	margin:0 auto;
	padding:0 40px;
	width:890px;
}
.site-header {
	background-color:#4d5152;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
	background:no-repeat center bottom;
}
.hbg {
	background:url(../images/image.jpg) repeat-x top;
	height:216px;
}
.main-navigation {
	margin:0;
	padding:0;
	float:right;
}
.main-navigation ul {
	list-style:none;
}
.main-navigation ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	background:no-repeat right center;
}
.main-navigation ul li a {
	display:block;
	margin:0;
	padding:28px 13px 12px;
	color:#fff;
	text-decoration:none;
	font-size:13px;
	text-transform:uppercase;
}
.main-navigation ul li.active a, .main-navigation ul li a:hover {
	background:#f00 url(../images/menu_a.gif) repeat-x center;
}
.content_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:670px;
	background:repeat-x bottom;
}
.content .mainbar img {
	padding:4px;
	border:1px solid #b7b7b7;
	background-color:#fff;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:16px 24px 24px 40px;
}
.content .sidebar {
	margin-top:-20px;
	padding:0;
	float:left;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:16px 16px 24px 40px;
	background:#fff url(../images/gadget_bg.gif) repeat-x bottom;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#5f5f5f;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#0eafde;
	font-weight:bold;
	background:no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:#3f7382 repeat-x top;
}
.fbg_resize {
	padding:24px 40px;
	color:#fff;
}
.fbg h2 {
	color:#fff;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.fbg .c1 img {
	margin:8px;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	background-color:#30383e;
}
.footer_resize {
	margin:0 auto;
	padding:24px 40px;
	width:890px;
	color:#5f5f5f;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#5f5f5f;
}
.footer a {
	color:#5f5f5f;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
